<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Registrar</title>
</head>
<body>
    <h2>Criar Conta</h2>
    <div>
        <form class="register-form hidden" id="registerForm">
            <h2>Registrar-se</h2>

            <input type="text" placeholder="Nome de usuário" required /><br>
            <input type="email" placeholder="Email" required /><br>
            <input type="tel" placeholder="Telefone" required /><br>
            <input type="password" placeholder="Senha" required /><br>
            <input type="password" placeholder="Confirmar senha" required /><br>

            <label class="termo">
            <input type="checkbox" required /> Concordo com os termos de uso
            </label>

            <button type="submit" class="btn">Criar conta</button>

            <p class="register-link">
            Já tem uma conta?
            <a href="{{ url_for('entrar') }}">Entrar</a>

            </p>
        </form>
      </div>

        <button type="submit">Registrar</button>
    </form>

</body>
</html>

